﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.mytable {
            border-collapse: collapse;
            width: 100%;
			font-family: sans-serif;
			
        }
.mytable th{
    background-color:burlywood;
    text-align: left;
    padding: 8px;
    border: 1px solid black;
    font-family: sans-serif;
}
.mytable tr, td{
    text-align: left;
    padding: 8px;
    border: 1px solid black;
}
.mytable tr:nth-child(even){background-color: Wheat}
myspan {
font-family: sans-serif;
font-weight: bold;
color: white;
padding-left:65%;
}
.myinput{
    border: 1px solid darkslategray;
    border-collapse: collapse;
}
.mybutton{
    background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	height:6px;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
	width:70px;
}