﻿@model IEnumerable<UserManagementUI.Models.UserModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-login">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div style="overflow-x:auto;">
                                <table class="mytable">
                                    <tr>
                                        <th>Title</th>
                                        <th>Body</th>
                                    </tr>
                                    @foreach (var row in Model)
                                    {
                                        <tr id="tr@(row)">
                                            <td>@row.title</td>
                                            <td>@row.body</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

