﻿@{
    ViewBag.Title = "Details";
}
<h3>Welcome @ViewBag.User.username<h3>
<div class="row">
    <div class="col-md-6">
        <label>Name:</label>
		<span>@ViewBag.User.name</span></div>
	<div class="col-md-6">
		<label>Email:</label>
		<span>@ViewBag.User.email/span>
    </div>
	<br/>
	<br/>
	<div class="col-md-6">
        <label>Phone:</label>
		<span>@ViewBag.User.phone</span>
	</div>
	<div class="col-md-6">
		<label>Website:</label>
		<span>@ViewBag.User.website</span>
    </div>
	<br/>
	<br/>
	<div class="col-md-12">
		@Html.ActionLink("Details", "Details", "UserHome")
    </div>
</div> 